body {
     font-family: 'Open Sans', sans-serif;
     background-color: white;
 }

header {
    display: flex;
    justify-content: center;
}

header .container {
    width: 1352px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: #FFFFFF
}

header .container {
    box-shadow: 0 3px 6px #00000029;
}


.page-nav-list {
    display: flex;
}

.page-nav-list li {
    margin-left: 90px;
    text-align: center;
    transition: 0.2s;
    padding: 2px;
}

.page-nav-list li:hover {
    border: none;
    border-bottom: 4px solid #08A6E4;
}

.page-nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    opacity: 1;
}

.page-logo {
    margin-left: 136px;
    text-decoration: none;
    text-align: left;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    letter-spacing: 0;
    color: #08A6E4;
    opacity: 1;
}


/* BANER */

.banner {
    margin-top: 5%;
    height: 594px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url("../3_Warsztaty/assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

}


.banner-title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 49px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-bottom: 30px;
}

.banner-text {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0;
    color: #000000;
}

.CTA {
    margin-top: 37px;
    text-decoration: none;
    padding: 2% 10%;
    color: white;
    background-color: #08A6E4;
    border-radius: 40px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;

}

/* MAIN */
/* STATS */

.container2 {
    width: 1325px;
    margin: auto;
}

.stats-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    letter-spacing: 0;
    color: #000000;
}


.stats {
    display: flex;
    justify-content: space-evenly;

}

.stats-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 1% 10%;
    position: relative;
}

.stats-box img {
    z-index: 2;
}

.stats-box:nth-of-type(1)::before {
    content: "";
    display: block;
    background: #FB3B64;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    left: 35%;
    top: 5%;
}

.stats-box:nth-of-type(2)::before {
    content: "";
    display: block;
    background: #08A6E4;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    left: 37%;
    top: 5%;
}

.stats-box:nth-of-type(3)::before {
    content: "";
    display: block;
    background: #55DFB4;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    left: 35%;
    top: 5%;
}


.stats-title-small {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6px;
    color: #000000;
    opacity: 1;
    margin-top:20px;
}

.stats-text {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 19px;
    letter-spacing: 0;
    color: #A5A5A5;
    opacity: 1;
    margin-top: 10px;
}

